doctype 5
html
  head

    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-overrides.css")
    link(rel="stylesheet", href="/stylesheets/app.css")

    script(src="/javascripts/bootstrap.min.js")

  body

    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          ul.nav
            li.brand
              a(href="/") TopiCon
    
    block content

    div.navbar.navbar-fixed-bottom
      div.navbar-inner
        div.container
          div.nav-collapse.collapse
            ul.nav
              li
                p
                  a(rel='license', href='http://creativecommons.org/licenses/by-sa/3.0/deed.en_US')
                    img(alt='Creative Commons License', style='border-width: 0;', src='http://i.creativecommons.org/l/by-sa/3.0/80x15.png')
                  span(xmlns:dct='http://purl.org/dc/terms/', href='http://purl.org/dc/dcmitype/InteractiveResource', property='dct:title', rel='dct:type')  TopiCon 
                  | by 
                  a(xmlns:cc='http://creativecommons.org/ns#', href='http://www.github.com/americankulak', property='cc:attributionName', rel='cc:attributionURL') Kacy Humphrey 
                  | is licensed under a 
                  a(rel='license', href='http://creativecommons.org/licenses/by-sa/3.0/deed.en_US') Creative Commons Attribution-ShareAlike 3.0 Unported License
                  | .